.brand {
  & .row {
    border-top: 1px solid @rgbwhite;
    text-align: center;
    .full-center(center);
  }
  &__items {
    height: 152px;
    .flex-display;
    .full-center(center);
    img:hover {
      filter: brightness(1.5);
      cursor: pointer;
    }
  }
}
