.brand {
  border-top: 1px solid rgb(204, 204, 204);
  & .row {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  &__items {
    height: 152px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
