.category__product.grid.wide.row {
  box-shadow: -2px 2px 5px 5px rgba(148, 135, 135, 0.3);
}
.category__product.grid.wide.row .product-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 250px;
  max-width: 392px;
  text-align: center;
  background-color: white;
  align-items: center;
}
.category__product.grid.wide.row .product__dumbbells--img {
  max-width: 392px;
}
.category__product.grid.wide.row .product__strength--img {
  max-width: 392px;
}
.category__product.grid.wide.row .product__power--img {
  max-width: 392px;
}
.category__product.grid.wide.row .product__content--title {
  margin: 20px 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
.category__product.grid.wide.row .product__content--body {
  margin-top: 4px;
  max-width: 294px;
  line-height: 1.714;
  font-size: 14px;
}
